tmdb:
  api_key: <tmdb_api_key>
db:
  driver: neo4j
  uri: neo4j://localhost:7687
meilisearch:
  host: http://localhost:7700
  api_key: <meili_api_key>
redis:
  address: localhost:6379
  password: <redis_password>
  db: 0
log:
  level: debug
server:
  cors: "*"
  game_schedule: "0 0 * * *"